<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>ARTBA Transportation Construction Market Intelligence</title>
        <link rel="shortcut icon" href="/img/favicon.png">

        <!--Core CSS -->
        <link rel="stylesheet" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/css/bulma.css">
        <link rel="stylesheet" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/css/app.css">
        <link rel="stylesheet" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/css/core.css">
        <style>
            .hero.is-theme-secondary{
                background: url('/img/econ-splash2.jpg') fixed;
            }
        </style>
    </head>
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and nav -->
        <div class="hero is-relative is-theme-secondary is-bold hero-waves">
        
            <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
                <div class="container">
                    <!-- Brand -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img class="light-logo" src="https://www.artba.org/wp-content/uploads/2016/01/logo-Copy.png" alt="">
                            <img class="dark-logo" src="https://www.artba.org/wp-content/uploads/2014/04/artbalogo1.png" alt="">
                        </a>
                    </div>
            
                    <!-- Navbar menu -->
                    <div class="navbar-menu">
                        <!-- Navbar Start -->
                        <div class="navbar-start">
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/">
                                Home
                            </a>
                            <!-- Navbar item -->
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="{{ route('login') }}">
                                Login
                            </a>
                        </div>
            
                        <!-- Navbar end -->
                        <div class="navbar-end">
                            <!-- Signup button -->
                            <div class="navbar-item">
                                <a id="#signup-btn" href="{{ route('register') }}" class="button button-signup btn-outlined is-bold btn-align light-btn rounded raised">
                                    Sign up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Hero image -->
            <div id="main-hero" class="hero-body ">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">
                        <div class="column is-5 header-caption">
                            <h1 class="landing-title" style="line-height: 1.1;">
                                <span style="font-size: 2.2rem;">Transportation Construction</span> <br> <span style="font-size: 3.2rem;">Market Intelligence<span>
                            </h1>
                            <h2 class="subtitle is-5 light-text">
                                An interactive service that empowers you to make smart business decisions
                            </h2>
                            <p class="pt-10 pb-10">
                                <a href="{{ route('register') }}" class="button button-cta btn-align btn-outlined is-bold light-btn rounded z-index-2">
                                    Get Started
                                </a>
                            </p>
                        </div>
                        <div class="column is-9 is-offset-1">
                            <figure class="image is-3by2">
                                <img src="/img/dashboard.png" alt="">
                            </figure>
                        </div>
        
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        <!-- /Hero and nav -->
        
        <!-- Feature Matrix -->
        <section id="features" class="section is-medium">
            <div class="container has-text-centered">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number">1</div>
                    <h2 class="section-title-landing">
                        First class Project management
                    </h2>
                    <h4>Discover a seamless experience in Project Management</h4>
                </div>
                <!-- /Title -->
        
                <div class="content-wrapper">
                    <div class="columns is-vcentered has-text-centered">
                        <div class="column is-hidden-mobile"></div>
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">work</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Timesheets
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">assignment_turned_in</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Task management
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing primary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">chat_bubble</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Team collaboration
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <div class="column is-hidden-mobile"></div>
                    </div>
        
                    <div class="columns is-vcentered has-text-centered">
                        <div class="column is-hidden-mobile"></div>
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">dashboard</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Kanban boards
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">https</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Improved security
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing primary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">cloud_done</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Instant backups
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <div class="column is-hidden-mobile"></div>
                    </div>
                    <div class="pb-20 pt-20 is-title-reveal">
                        <a href="landing-signup.html" class="button button-cta btn-align primary-btn rounded raised">Get started</a>
                    </div>
                </div>
        
            </div>
        </section>
        <!-- /Feature Matrix -->
        
        <!-- Feature -->
        <section class="section is-medium section-feature-grey">
            <div class="container">
                <div class="columns is-vcentered">
                    <!-- With the help of responsive modifiers, the text column is duplicated to ensure better readability both on desktop and mobile viewports -->
                    <div class="column is-4 is-offset-1 is-hidden-desktop is-hidden-tablet">
                        <div class="icon-subtitle"><i class="im im-icon-Calendar-4"></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Manage Projects</h2>
                            <div class="bg-number">2</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur. Unum simul an vis, tale patrioque eos ad.</span>
                    </div>
        
                    <div class="column is-6 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/illustrations/UI/create-project.png" alt="">
                        <!-- /Featured illustration -->
                    </div>
        
                    <div class="column is-4 is-offset-1 is-hidden-mobile">
                        <div class="icon-subtitle"><i class="im im-icon-Calendar-4"></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Manage Projects</h2>
                            <div class="bg-number">2</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur. Unum simul an vis, tale patrioque eos ad.</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- Feature -->
        <section class="section is-medium">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-1">
                        <div class="icon-subtitle"><i class="im im-icon-Upload-toCloud"></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Attach files</h2>
                            <div class="bg-number">3</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur. Unum simul an vis, tale patrioque eos ad.</span>
                    </div>
        
                    <div class="column is-6 is-offset-1 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/illustrations/UI/attach-files.png" alt="">
                        <!-- /Featured illustration -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- Feature -->
        <section class="section is-medium section-feature-grey">
            <div class="container">
                <div class="columns is-vcentered">
        
                    <!-- With the help of responsive modifiers, the text column is duplicated to ensure better readability both on desktop and mobile viewports -->
                    <div class="column is-4 is-offset-1 is-hidden-desktop is-hidden-tablet">
                        <div class="icon-subtitle"><i class="im im-icon-Security-Check"></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Secure content</h2>
                            <div class="bg-number">4</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur. Unum simul an vis, tale patrioque eos ad.</span>
                    </div>
        
                    <div class="column is-6 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/illustrations/UI/access-rights.png" alt="">
                        <!-- /Featured illustration -->
                    </div>
        
                    <div class="column is-4 is-offset-1 is-hidden-mobile">
                        <div class="icon-subtitle"><i class="im im-icon-Security-Check"></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <div>Secure content</div>
                            <div class="bg-number">4</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur. Unum simul an vis, tale patrioque eos ad.</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- Feature -->
        <section class="section is-medium">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-1">
                        <div class="icon-subtitle"><i class="im im-icon-Arrow-Refresh"></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Collaborate</h2>
                            <div class="bg-number">5</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur. Unum simul an vis, tale patrioque eos ad.</span>
                    </div>
        
                    <div class="column is-6 is-offset-1 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg-lg" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/illustrations/mockups/landing/project-ui.png" alt="">
                        <!-- /Featured illustration -->
                    </div>
                </div>
                <div class="has-text-centered is-title-reveal pt-20 pb-20">
                    <a href="#" class="button button-cta primary-btn rounded raised">Start your Free trial</a>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- More features -->
        <section class="section is-medium is-relative section-feature-grey">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number">6</div>
                    <h2 class="section-title-landing">
                        Wait, there's more
                    </h2>
                    <h4>There are plenty of additionnal features to discover</h4>
                </div>
                <!-- /Title -->
        
                <div class="content-wrapper">
                    <div class="columns is-vcentered">
                        <div class="column is-4 has-text-centered">
                            <h3 class="is-3 small-feature">Live search</h3>
                            <p class="mb-20 is-tablet-padded">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit.</p>
                            <div class="feature-sm">
                                <img class="is-card-reveal" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/illustrations/mockups/landing/search.png" alt="">
                            </div>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <h3 class="is-3 small-feature">Activity reports</h3>
                            <p class="mb-20 is-tablet-padded">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit.</p>
                            <div class="feature-sm">
                                <img class="is-card-reveal" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/illustrations/mockups/landing/activity-chart.png" alt="">
                            </div>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <h3 class="is-3 small-feature">Statistic Dashboard</h3>
                            <p class="mb-20 is-tablet-padded">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit.</p>
                            <div class="feature-sm">
                                <img class="is-card-reveal" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/illustrations/mockups/landing/tiles.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="has-text-centered pt-20 pb-20">
                        <a href="landing-signup.html" class="button button-cta btn-align primary-btn rounded raised">Start a Free Trial</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /More features -->
        
        <!-- Video -->
        <div class="section is-medium">
            <div class="container">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div id="features-video">
                            <div class="side-block">
                                <div class="background-wrapper">
                                    <div id="video-embed" class="video-wrapper is-title-reveal" data-url="https://www.youtube.com/watch?v=iaj8ktgL3BY">
                                        <div class="video-overlay"></div>
                                        <div class="playbutton">
                                            <div class="icon-play">
                                                <i class="im im-icon-Play-Music"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Video -->
        
        <!-- Learning -->
        <section id="learning" class="section is-medium">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number">7</div>
                    <h2 class="section-title-landing">
                        Want to learn more ?
                    </h2>
                    <h4>Read more in our Learning Center</h4>
                </div>
                <!-- /Title -->
        
                <div class="content-wrapper">
                    <div class="columns is-vcentered">
                        <!-- Card -->
                        <div class="column is-4">
                            <div class="card ressource-card">
                                <div class="card-image">
                                    <div class="card-image-overlay primary"></div>
                                    <figure class="image is-4by3 zoomOut">
                                        <img src="https://via.placeholder.com/1280x960" alt=""
                                            data-demo-src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/posts/data-insight.jpeg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="#">Work with less inbound emails</a>
                                            <p class="subtitle is-6"><b>Learning Center</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Card -->
        
                        <!-- Card -->
                        <div class="column is-4">
                            <div class="card ressource-card">
                                <div class="card-image">
                                    <div class="card-image-overlay"></div>
                                    <figure class="image is-4by3 zoomOut">
                                        <img src="https://via.placeholder.com/1280x960" alt=""
                                            data-demo-src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/posts/blog.jpeg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="#">Tight collaboration equals success</a>
                                            <p class="subtitle is-6"><b>Learning Center</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Card -->
        
                        <!-- Card -->
                        <div class="column is-4">
                            <div class="card ressource-card">
                                <div class="card-image">
                                    <div class="card-image-overlay"></div>
                                    <figure class="image is-4by3 zoomOut">
                                        <img src="https://via.placeholder.com/1280x960" alt=""
                                            data-demo-src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/posts/laptop-living.jpeg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="#">How data insight helps business</a>
                                            <p class="subtitle is-6"><b>Blog</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Card -->
        
                    </div>
                </div>
            </div>
        </section>
        <!-- /Learning -->
        
        <!-- Clients grid -->
        <section id="trust" class="section section-feature-grey is-medium">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper">
                    <div class="bg-number"><i class="material-icons">domain</i></div>
                    <h2 class="section-title-landing has-text-centered dark-text"> We build Trust.</h2>
                    <div class="subtitle has-text-centered">More than <b>900 Teams</b> use our product.</div>
                </div>
        
                <div class="content-wrapper">
                    <!-- Grid -->
                    <div class="grid-clients five-grid">
                        <div class="columns is-vcentered">
                            <div class="column"></div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/gutwork.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/phasekit.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/grubspot.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/taskbot.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/systek.svg" alt=""></a>
                            </div>
                            <div class="column"></div>
                        </div>
                        <div class="columns is-vcentered is-separator">
                            <div class="column"></div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/infinite.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/tribe.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/powerball.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/kromo.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/covenant.svg" alt=""></a>
                            </div>
                            <div class="column"></div>
                        </div>
                        <div class="columns is-vcentered is-separator">
                            <div class="column"></div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/bitbreaker.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/evently.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/proactive.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/transfuseio.svg" alt=""></a>
                            </div>
                            <!-- Client -->
                            <div class="column">
                                <a><img class="client" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/custom/livetalk.svg" alt=""></a>
                            </div>
                            <div class="column"></div>
                        </div>
                    </div>
                    <!-- CTA -->
                    <div class="has-text-centered pt-40 pb-40">
                        <a href="landing-v3-pricing.html" class="button button-cta btn-align primary-btn raised rounded">Get started Now</a>
                    </div>
                    <!-- /CTA -->
                </div>
            </div>
        </section>
        <!-- Clients -->
        
        <!-- Contact form -->
        <section class="section is-medium is-relative footer-waves section-feature-grey">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number">6</div>
                    <h2 class="section-title-landing">
                        Start your Free trial
                    </h2>
                    <h4>Dont struggle anymore to manage tasks. Everything is easy to setup</h4>
                </div>
                <!-- /Title -->
        
                <div class="content-wrapper giant-pb">
                    <form>
                        <div class="columns">
                            <div class="column is-8 is-offset-2">
                                <div class="columns is-vcentered">
                                    <div class="column is-3">
                                        <!-- Form field -->
                                        <div class="control-material is-accent">      
                                            <input class="material-input" type="text" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Name *</label>
                                        </div>
                                        <!-- /Form field -->
                                    </div>
                                    <div class="column is-3">
                                        <!-- /Form field -->
                                        <div class="control-material is-accent">      
                                            <input class="material-input" type="text" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email *</label>
                                        </div>
                                        <!-- /Form field -->
                                    </div>
                                    <div class="column is-3">
                                        <!-- Form field -->
                                        <div class="control-material is-accent">      
                                            <input class="material-input" type="text" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Company *</label>
                                        </div>
                                        <!-- /Form field -->
                                    </div>
                                    <div class="column is-3">
                                        <button type="submit" class="button button-cta btn-align secondary-btn btn-outlined is-bold rounded raised no-lh">Sign me up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- /Contact form -->
        
        <!-- Dark footer -->
        <footer id="dark-footer" class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Product</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">Discover features</a></li>
                                <li><a href="#">CMS integration</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Weekly sessions</a></li>
                                <li><a href="#">Free trials and demo</a></li>
                                <li><a href="#">What's next ?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Company</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">About security</a></li>
                                <li><a href="#">User guide</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Terms of website use</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Learning</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">Resources</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">API documentation</a></li>
                                <li><a href="#">Admin guide</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-logo">
                                <img src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/bulkit-white.svg" alt="">
                            </div>
                            <div class="footer-header">
                                <nav class="level is-mobile">
                                    <div class="level-left level-social">
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-linkedin"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-dribbble"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-github"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="copyright">
                                <span class="moto light-text">Designed and coded with <i class="fa fa-heart color-red"></i> by CSS Ninja.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Dark footer -->        <!-- Side navigation -->
        <div class="side-navigation-menu">
            <!-- Categories menu -->
            <div class="category-menu-wrapper">
                <!-- Menu -->
                <ul class="categories">
                    <li class="square-logo"><img src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/square-white.svg" alt=""></li>
                    <li class="category-link is-active" data-navigation-menu="demo-pages"><i class="sl sl-icon-layers"></i></li>
                    <li class="category-link" data-navigation-menu="onepagers"><i class="sl sl-icon-energy"></i></li>
                    <li class="category-link" data-navigation-menu="components"><i class="sl sl-icon-grid"></i></li>
                    <li class="category-link" data-navigation-menu="extras"><i class="sl sl-icon-present"></i></li>
                </ul>
                <!-- Menu -->
        
                <ul class="author">
                    <li>
                        <!-- Theme author -->
                        <a href="https://cssninja.io" target="_blank">
                            <img class="main-menu-author" src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/images/logos/cssninja.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /Categories menu -->
        
            <!-- Navigation menu -->
            <div id="demo-pages" class="navigation-menu-wrapper animated preFadeInRight fadeInRight">
                <!-- Navigation Header -->
                <div class="navigation-menu-header">
                    <span>Demo pages</span>
                    <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <!-- Navigation Body -->
                <ul class="navigation-menu">
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">weekend</span>Agency kit</a>
                        <ul>
                            <li><a class="is-submenu" href="/agency/index.html">Homepage</a></li>
                            <li><a class="is-submenu" href="/agency/agency-about.html">About</a></li>
                            <li><a class="is-submenu" href="/agency/agency-portfolio.html">Portfolio</a></li>
                            <li><a class="is-submenu" href="/agency/agency-contact.html">Contact</a></li>
                            <li><a class="is-submenu" href="/agency/agency-blog.html">Blog</a></li>
                            <li><a class="is-submenu" href="/agency/agency-post-sidebar.html">Post sidebar</a></li>
                            <li><a class="is-submenu" href="/agency/agency-post-nosidebar.html">Post no sidebar</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">wb_incandescent</span>Startup
                            kit</a>
                        <ul>
                            <li><a class="is-submenu" href="/startup/index.html">Homepage</a></li>
                            <li><a class="is-submenu" href="/startup/startup-about.html">About</a></li>
                            <li><a class="is-submenu" href="/startup/startup-product.html">Product</a></li>
                            <li><a class="is-submenu" href="/startup/startup-contact.html">Contact</a></li>
                            <li><a class="is-submenu" href="/startup/startup-login.html">Login</a></li>
                            <li><a class="is-submenu" href="/startup/startup-signup.html">Sign up</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">looks</span>Landing kit
                            v1</a>
                        <ul>
                            <li><a class="is-submenu" href="/landing-kits/kit-1/index.html">Landing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-1/landing-features.html">Feature page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-1/landing-pricing.html">Pricing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-1/landing-login.html">Login page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-1/landing-signup.html">Signup page</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">invert_colors</span>Landing
                            kit v2</a>
                        <ul>
                            <li><a class="is-submenu" href="/landing-kits/kit-2/index.html">Landing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-2/landing-v1-features.html">Feature page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-2/landing-v1-pricing.html">Pricing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-2/landing-v1-login.html">Login page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-2/landing-v1-signup.html">Signup page</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">chat_bubble</span>Landing
                            kit v3</a>
                        <ul>
                            <li><a class="is-submenu" href="/landing-kits/kit-3/index.html">Landing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-3/landing-v2-features.html">Feature page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-3/landing-v2-pricing.html">Pricing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-3/landing-v2-login.html">Login page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-3/landing-v2-signup.html">Signup page</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">business</span>Landing
                            kit v4</a>
                        <ul>
                            <li><a class="is-submenu" href="/landing-kits/kit-4/index.html">Landing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-4/landing-v3-pricing.html">Pricing page</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-4/landing-v3-help.html">Help center</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-4/landing-v3-help-category.html">Help category</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-4/landing-v3-help-article.html">Help article</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-4/landing-v3-signup.html">Login</a></li>
                            <li><a class="is-submenu" href="/landing-kits/kit-4/landing-v3-login.html">Sign up</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">face</span>Landing kit v5</a>
                        <ul>
                            <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/index.html">Landing page</a></li>
                            <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/landing-v4-features.html">Feature
                                    page</a></li>
                            <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/landing-v4-pricing.html">Pricing
                                    Page</a></li>
                            <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/landing-v4-login.html">Login /
                                    Signup</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">cloud</span>Landing kit
                            v6</a>
                        <ul>
                            <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/index.html">Landing page</a></li>
                            <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/landing-v5-home.html">Landing page
                                    v2</a></li>
                            <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/landing-v5-login.html">Login page</a></li>
                            <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/landing-v5-signup.html">Signup page</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">backspace</span>Error
                            Kit</a>
                        <ul>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/index.html">Error 404 (V1)</a>
                            </li>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-2.html">Error 404 (V2)</a>
                            </li>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-3.html">Error 404 (V3)</a>
                            </li>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-4.html">Error 404 (V4)</a>
                            </li>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-5.html">Error 404 (V5)</a>
                            </li>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-6.html">Error 404 (V6)</a>
                            </li>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-7.html">Error 500 (V1)</a>
                            </li>
                            <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-8.html">Error 500 (V2)</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /Navigation menu -->
            <!-- Navigation menu -->
            <div id="onepagers" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
                <!-- Navigation Header -->
                <div class="navigation-menu-header">
                    <span>One Pagers</span>
                    <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <!-- Navigation body -->
                <ul class="navigation-menu">
                    <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">dashboard</span>One Pager 1</a>
                        <ul>
                            <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/">Header 1</a></li>
                            <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/op1-2.html">Header 2</a></li>
                            <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/op1-3.html">Header 3</a></li>
                            <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/op1-4.html">Header 4</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link has-new" href="#">
                            <span class="material-icons">markunread_mailbox</span>One Pager 2</a>
                        <ul>
                            <li><a class="is-submenu has-new-update is-2_4" href="/one-pager-2/">Landing Page</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Navigation menu -->
            <div id="components" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
                <!-- Navigation Header -->
                <div class="navigation-menu-header">
                    <span>Components</span>
                    <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <!-- Navigation body -->
                <ul class="navigation-menu">
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">view_quilt</span>Layout</a>
                        <ul>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-grid.html">Grid system</a></li>
                            <li><a class="is-submenu" href="/_components-layout-video.html">Video background</a></li>
                            <li><a class="is-submenu" href="/_components-layout-parallax.html">Parallax</a></li>
                            <li><a class="is-submenu" href="/_components-layout-headers.html">Headers</a></li>
                            <li><a class="is-submenu" href="/_components-layout-footers.html">Footers</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-typography.html">Typography</a></li>
                            <li><a class="is-submenu" href="/_components-layout-colors.html">Colors</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">subject</span>Navbars</a>
                        <ul>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-fade-light.html">Fade light</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-fade-dark.html">Fade dark</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-static-light.html">Static
                                    light</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-static-dark.html">Static
                                    dark</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-static-solid.html">Static
                                    solid</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-double-dark.html">Double
                                    dark</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-double-light.html">Double
                                    light</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">view_stream</span>Sections</a>
                        <ul>
                            <li><a class="is-submenu" href="/_components-sections-features.html">Features</a></li>
                            <li><a class="is-submenu" href="/_components-sections-pricing.html">Pricing</a></li>
                            <li><a class="is-submenu" href="/_components-sections-team.html">Team</a></li>
                            <li><a class="is-submenu" href="/_components-sections-testimonials.html">Testimonials</a></li>
                            <li><a class="is-submenu" href="/_components-sections-clients.html">Clients</a></li>
                            <li><a class="is-submenu" href="/_components-sections-counters.html">Counters</a></li>
                            <li><a class="is-submenu" href="/_components-sections-carousel.html">Carousel</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">playlist_add_check</span>Basic
                            UI</a>
                        <ul>
                            <li><a class="is-submenu" href="/_components-basicui-cards.html">Cards</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-buttons.html">Buttons</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-dropdowns.html">Dropdowns</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-lists.html">Lists</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-modals.html">Modals</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-tabs.html">Tabs & pills</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-accordion.html">Accordions</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-badges.html">Badges & labels</a></li>
                            <li><a class="is-submenu" href="/_components-basicui-popups.html">Popups</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">playlist_add</span>Advanced
                            UI</a>
                        <ul>
                            <li><a class="is-submenu" href="/_components-advancedui-tables.html">Tables</a></li>
                            <li><a class="is-submenu" href="/_components-advancedui-timeline.html">Timeline</a></li>
                            <li><a class="is-submenu" href="/_components-advancedui-boxes.html">Boxes</a></li>
                            <li><a class="is-submenu" href="/_components-advancedui-messages.html">Messages</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-advancedui-megamenu.html">Megamenu</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-advancedui-calendar.html">Calendar</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">check_box</span>Forms</a>
                        <ul>
                            <li><a class="is-submenu has-new-feature is-2_2" href="/_components-forms-inputs.html">Inputs</a></li>
                            <li><a class="is-submenu" href="/_components-forms-controls.html">Controls</a></li>
                            <li><a class="is-submenu" href="/_components-forms-layouts.html">Form layouts</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-forms-steps.html">Step forms</a></li>
                            <li><a class="is-submenu" href="/_components-forms-uploader.html">Uploader</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">adjust</span>Icons</a>
                        <ul>
                            <li><a class="is-submenu" href="/_components-icons-im.html">Icons Mind</a></li>
                            <li><a class="is-submenu" href="/_components-icons-sl.html">Simple Line Icons</a></li>
                            <li><a class="is-submenu" href="/_components-icons-fa.html">Font Awesome</a></li>
                            <li><a class="is-submenu" href="https://material.io/icons/" target="_blank">Material Icons</a></li>
                            <li><a class="is-submenu has-new-feature" href="/_components-extensions-iconpicker.html">Icon Picker</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /Navigation menu -->
            <!-- Navigation menu -->
            <div id="extras" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
                <!-- Navigation Header -->
                <div class="navigation-menu-header">
                    <span>Extras</span>
                    <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <!-- Navigation body -->
                <ul class="navigation-menu">
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">dashboard</span>Dashboard
                            kit</a>
                        <ul>
                            <li><a class="is-submenu" href="/dashboard/">Main Layout</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-dark-nav.html">Dark Sidebar</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-blank.html">Blank page</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-widgets-data.html">Data widgets</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-widgets-social.html">Social widgets</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-feed.html">Dashboard feed</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-feed-post.html">Feed post</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-login.html">Login</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span
                                class="material-icons">insert_chart</span>Charts</a>
                        <ul>
                            <li><a class="is-submenu" href="/dashboard/dashboard-chartjs.html">Chartjs charts</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-billboardjs.html">Billboardjs charts</a></li>
                            <li><a class="is-submenu" href="/dashboard/dashboard-peityjs.html">Peity charts</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span
                                class="material-icons">assignment</span>Projects</a>
                        <ul>
                            <li><a class="is-submenu has-new-feature" href="/dashboard/dashboard-project-list.html">Projects</a>
                            </li>
                            <li><a class="is-submenu has-new-feature" href="/dashboard/dashboard-project-details.html">Project
                                    details</a></li>
                            <li><a class="is-submenu has-new-feature" href="/dashboard/dashboard-project-task.html">Project Task</a>
                            </li>
                            <li><a class="is-submenu has-new-feature" href="/dashboard/dashboard-project-mytasks.html">My Tasks</a>
                            </li>
                            <li><a class="is-submenu has-new-update" href="/dashboard/dashboard-events-board.html">Events Board</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span
                                class="material-icons">grid_on</span>Datatable</a>
                        <ul>
                            <li><a class="is-submenu has-new-feature" href="/dashboard/dashboard-datatable-basic.html">Basic</a>
                            </li>
                            <li><a class="is-submenu has-new-feature"
                                    href="/dashboard/dashboard-datatable-variations.html">Variations</a></li>
                            <li><a class="is-submenu has-new-feature"
                                    href="/dashboard/dashboard-datatable-advanced.html">Advanced</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span
                                class="material-icons">insert_drive_file</span>Documents</a>
                        <ul>
                            <li><a class="is-submenu has-new-update" href="/dashboard/dashboard-document-list.html">Documents
                                    List</a></li>
                            <li><a class="is-submenu has-new-update" href="/dashboard/dashboard-document-details.html">Document
                                    Details</a></li>
                            <li><a class="is-submenu has-new-update" href="/dashboard/dashboard-document-invoice.html">Invoice</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">people</span>Contacts</a>
                        <ul>
                            <li><a class="is-submenu has-new-update" href="/dashboard/dashboard-contacts-grid.html">Contacts
                                    Grid</a></li>
                            <li><a class="is-submenu has-new-update" href="/dashboard/dashboard-contacts-list.html">Contacts
                                    List</a></li>
                            <li><a class="is-submenu has-new-update" href="/dashboard/dashboard-contacts-single.html">Contact
                                    Details</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">work</span>Crm</a>
                        <ul>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-crm-boards.html">Crm
                                    Projects</a></li>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-crm-kanban.html">Crm
                                    Kanban</a></li>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-crm-deal.html">Crm Deal</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link has-new" href="#"><span
                                class="material-icons">verified_user</span>Support
                            Desk</a>
                        <ul>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-support-dashboard.html">Desk
                                    Dashboard</a></li>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-support-tickets.html">Ticket
                                    List</a></li>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-support-ticket.html">Ticket
                                    Details</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link has-new" href="#"><span
                                class="material-icons">record_voice_over</span>Forum</a>
                        <ul>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-forum-home.html">Forum
                                    Home</a></li>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-forum-channel.html">Forum
                                    Channel</a></li>
                            <li><a class="is-submenu has-new-update is-2_2" href="/dashboard/dashboard-forum-topic.html">Forum
                                    Topic</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a class="parent-link has-new" href="#"><span
                                class="material-icons">apps</span>Apps</a>
                        <ul>
                            <li><a class="is-submenu has-new-update is-2_3" href="/dashboard/dashboard-chat-app.html">
                                    Chat UI</a></li>
                            <li><a class="is-submenu has-new-update is-2_3" href="/dashboard/dashboard-mailbox-inbox.html">
                                    Inbox UI</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /Navigation menu --></div>
        <!-- /Side navigation -->        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/js/app.js"></script>
        
        <!-- Bulkit js -->
        <script src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/js/landing.js"></script>
        <script src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/js/auth.js"></script>
        <script src="https://bulkitv2.cssninja.io/landing-kits/kit-1/assets/js/main.js"></script>    </body>  
</html>
